body {
  background-image: url(../images/Bitcoin-background.jpeg);
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
}

.left-side-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  text-decoration: none;
  color: #ae5d01;
  font-size: 32px;
  margin: 14px;
}

.crypton-logo,
.crypton-icon {
  margin: 14px;
}

.crypton-icon {
  width: 60px;
  height: 60px;
}

.crypton-logo {
  font-size: 32px;
  color: #ae5d01;
}
